* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    color: $darkGray;
    /* overflow-x: hidden; */
}

ul {
    list-style: none;
}

#all {
    overflow: hidden;

    @mixin atSmall {
        overflow: auto;
    }
}