.banner {
    background-color: $navyBlue;
    color: #fff;
    height: 20.5rem;
    padding: 1.5rem 1.5rem;
    z-index: 3;

    @mixin atXSmall {
        height: 18.5rem;
    }

    @mixin atSmall {
        height: 10rem;
    }

    &--white {
        background-color: rgba(0, 0, 0, 0.05);
        color: $navyBlue;

        & .banner__text h3 {
            font-weight: 400;
        }

        & .banner__text p {
            font-weight: 400;
        }

        & .banner__btn {
            border: 2px solid $mainRed;
            color: $mainRed;

            &:hover {
                color: #fff;
            }
        }
    }

    &__content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @mixin atSmall {
            flex-direction: row;
        }
        
        @mixin atLarge {
            width: 61rem;
        }

        @mixin atXLarge {
            width: 66rem;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        text-align: center;

        @mixin atSmall {
            text-align: left;
            display: block;
        }
    }

    &__img {
        background-color: #fff;
        width: 6.8rem;
        height: 6.8rem;
        border: transparent;
        border-radius: 50%;
        display: inline-block;
        margin: 0 auto;

        @mixin atSmall {
            margin: auto;
        }

        & img {
                width: 3.5rem;
                margin: 25%;
        }
    }

    &__text {
        float: right;
        line-height: 1.5;

        @mixin atSmall {
            margin-left: 2rem;
        }

        & h3 {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1.4rem;
            margin-bottom: 0;
            letter-spacing: 1.5px;
        }

        & p {
            font-weight: 300;
            margin-top: 0.5rem;
            margin-left: 0;
        }
    }

    &__btn {
        border: 2px solid #fff;
        border-radius: 3rem;
        height: 2.5rem;
        padding: 0 1.3rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        background-color: transparent;
        color: #fff;
        font-weight: 300;
        transition: all 0.2s linear;

        &:hover {
            background-color: $mainRed;
            border: 2px solid $mainRed;
            cursor: pointer;
        }

        @mixin atLarge {
            font-size: 0.9rem;
        }
    }
}