/* Banner container styles */

.banner {
    background-color: $navyBlue;
    color: #fff;
    height: 20.5rem;
    padding: 1.5rem 1.5rem;
    z-index: 3;

    @mixin atXSmall {
        height: 18.5rem;
    }

    @mixin atSmall {
        height: 10rem;
    }
}

/* Banner content wrap */

.banner__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;

    @mixin atSmall {
        flex-direction: row;
    }
    
    @mixin atLarge {
        width: 61rem;
    }

    @mixin atXLarge {
        width: 66rem;
    }
}

/* Left-pulled section */

.banner__left {
    display: flex;
    flex-direction: column;
    text-align: center;

    @mixin atSmall {
        text-align: left;
        display: block;
    }
}

/* Icon wrapper */

.banner__img {
    background-color: #fff;
    border: transparent;
    border-radius: 50%;
    display: inline-block;
    height: 6.8rem;
    margin: 0 auto;
    width: 6.8rem;

    @mixin atSmall {
        margin: auto;
    }
}

.banner__img img {
    margin: 25%;
    width: 3.5rem; 
}

/* Text wrapper */

.banner__text {
    float: right;
    line-height: 1.5;

    @mixin atSmall {
        margin-left: 2rem;
        max-width: 23rem;
    }
}

.banner__text h3 {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.banner__text p {
    font-weight: 300;
    margin-top: 0.5rem;
    margin-left: 0;
}

/* Banner button */

.banner__btn {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 3rem;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    height: 2.5rem;
    letter-spacing: 1.1px;
    padding: 0 1.3rem;
    text-transform: uppercase;
    transition: all 0.2s linear;

    @mixin atSmall {
        margin-right: 2rem;
    }

    @mixin atLarge {
        font-size: 0.9rem;
    }
}

.banner__btn:hover {
    background-color: $mainRed;
    border: 2px solid $mainRed;
    cursor: pointer;
}

/* White banner styles */

.banner--white {
    background-color: rgba(0, 0, 0, 0.05);
    color: $navyBlue;
}

.banner--white .banner__text h3 {
    font-weight: 400;
}

.banner--white .banner__text p {
    font-weight: 400;
}

.banner--white .banner__btn {
    border: 2px solid $mainRed;
    color: $mainRed;
}

.banner--white .banner__btn:hover {
    color: #fff;
}