.contact {
    background-color: rgba(0, 0, 0, 0.05);
    color: $navyBlue;
    height: 10rem;
    padding: 1.5rem 7.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img {
        background-color: #fff;
        width: 6.8rem;
        height: 6.8rem;
        border: transparent;
        border-radius: 50%;
        display: inline-block;

        & img {
                width: 3.5rem;
                margin: 25%;
        }
    }
}