/* General Contact Form Styles */

.contact {
    background-color: rgba(0, 0, 0, 0.05);
    color: $navyBlue;
    height: 16.125rem;
    padding: 1.5rem 1.5rem;

    @mixin atMedium {
        height: 10rem;
    }
}

/* Content Wrap */

.contact__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @mixin atMedium {
        flex-direction: row;
        justify-content: space-between;
        width: 46rem;
    }

    @mixin atLarge {
        width: 61rem;
    }

    @mixin atXLarge {
        width: 66rem;
    }
}

/* Icon Styles */

.contact__img {
    background-color: #fff;
    border: transparent;
    border-radius: 50%;
    display: inline-block;
    height: 6.8rem;
    width: 6.8rem;
}

.contact__img img {
    margin: 25%;
    width: 3.5rem;
}

/* Form Element Styles */

.contact__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 29rem;

    @mixin atXSmall {
        width: 38rem;
    }
}

.contact__form h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.contact__form input {
    border: 1px solid transparent;
    border-radius: 3rem;
    flex-grow: 2;
    font-size: 0.9rem;
    padding: 0.8rem 7rem 0.8rem 1.5rem;
    width: 60%;

    @mixin atXSmall {
        width: 75%;
    }

    @mixin atSmall {
        width: 37rem;
    }
}

.contact__form button {
    background-color: $mainRed;
    border: 2px solid $mainRed;
    border-radius: 3rem;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    height: 2.5rem;
    letter-spacing: 1.1px;
    margin-left: -7rem;
    padding: 0 1.3rem;
    text-transform: uppercase;
    transition: all 0.2s linear;
}

.content__form button:hover {
    background-color: transparent;
    border: 2px solid $mainRed;
    color: $mainRed;
    cursor: pointer;
}