/* Current Count General Styles */

.current-count {
    height: 51.5rem;
    margin-top: 4.5rem;
    padding-top: 5rem;

    @mixin atSmall {
        height: 28.25rem;
    }

    @mixin atML {
        height: 18.375rem;
        padding-top: 6rem;
    }

    @mixin atLarge {
        height: 16.625rem;
    }
}

/* Content Wrap */

.current-count__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 40rem;
    justify-content: space-between;

    @mixin atSmall {
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        margin: 0 auto;
        width: 45rem;
    }

    @mixin atML {
        flex-wrap: nowrap;
        width: 57rem;
    }

    @mixin atXLarge {
        width: 66rem;
    }
}

/* Section Styles */

.current-count__section {
    align-items: flex-start;
    color: #fff;
    display: flex;
    width: 15rem;
    
    @mixin atSmall {
        align-items: stretch;
        justify-content: center;
        width: 50%;
    }

    @mixin atML {
        margin: auto;
        width: 25%;
    }
}

.current-count__section--top {
    @mixin atSmall {
        margin-bottom: 2.5rem;
    }

    @mixin atML {
        margin-bottom: 0;
    }
}

.current-count__section--bottom {
    @mixin atSmall {
        margin-top: 2.5rem;
    }

    @mixin atML {
        margin-top: 0;
    }
}

/* Icons */

.current-count__section__img {
    margin-right: 1.5rem;
    padding-top: 0.5rem;
    width: 3.5rem;
}

.current-count__section__img img {
    width: 100%;
}

/* Numbers and Text */

.current-count__section__number {
    font-family: "Montserrat", sans-serif;
    font-size: 3.7rem;
    font-weight: 300;
}

.current-count__section__text {
    font-size: 1.1rem;
    font-weight: 300;
}

.current-count__section__text p {
    margin-top: 0.5rem;
}