.current-count {
    height: 16.625rem;
    padding-top: 6rem;
    
    &__content {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 62.5rem;
    }

    &__section {
        width: 25%;
        color: #fff;
        display: flex;

        &__img {
            width: 3.5rem;
            margin-right: 1.5rem;

            & img {
                width: 100%;
            }
        }

        
    }
}