.events {
    margin-bottom: 2rem;
    
    &__content {

        &__event {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2rem 1.5rem;

            @mixin atSmall {
                flex-direction: row;
            }

            @mixin atLarger {
                width: 66rem;
                margin: 2rem auto;
            }

            &__img {
                width: 100%;
                margin: 0 auto 2rem auto;

                @mixin atXSmall {
                    width: 27rem;
                }

                @mixin atSmall {
                    margin-right: 1.5rem;
                    width: 21.25rem;
                    margin-bottom: 0;
                }

                & img {
                    width: 100%;

                    @mixin atXSmall {
                        width: 27rem;
                    }

                    @mixin atSmall {
                        width: 21.25rem;
                    }
                }
            }

            &__date {
                color: $mainRed;
                font-size: 2rem;
            }

            & h4 {
                display: inline;
                text-transform: uppercase;
                color: $navyBlue;
                font-size: 0.7rem;
                margin-right: 1rem;
            }

            &__date-img {
                width: 0.7rem;
                margin-right: 0.3rem;
            }

            &__right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @mixin atXSmall {
                    width: 27rem;
                }

                @mixin atSmall {
                    width: auto;
                }

                @mixin atML {
                    flex-direction: row;
                    align-items: center;
                }
            }

            &__text {

                @mixin atSmall {
                    margin-right: 4rem;
                }

                & h3 {
                    color: $navyBlue;
                    font-weight: 300;
                    font-size: 1.5rem;
                    margin-bottom: 0;
                    margin-top: 0.5rem;
                }

                & p {
                    font-weight: 300;
                    color: $darkGray;
                    line-height: 1.5;
                }
            }

            & button {
                border: 2px solid $mainRed;
                border-radius: 3rem;
                height: 2.5rem;
                width: 7.5rem;
                padding: 0 1.3rem;
                font-size: 0.9rem;
                text-transform: uppercase;
                letter-spacing: 1.1px;
                background-color: transparent;
                color: $mainRed;
                font-weight: 300;
                transition: all 0.2s linear;
                display: block;
                margin: 0 auto;

                @mixin atSmall {
                    margin: 0;
                }

                &:hover {
                    background-color: $mainRed;
                    border: 2px solid $mainRed;
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }
}