/* Flaticon Parent Styles */

.flaticon-attr-parent {
    position: relative;
}

/* Flaticon Child Styles */

.flaticon-attr-parent:hover .flaticon-attr-child {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.flaticon-attr-child {
    background-color: #fff;
    border: 2px solid $mainRed;
    border-radius: 0.5rem;
    color: $darkGray;
    font-size: 0.7rem;
    left: -70%;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    transform: translateY(20%);
    transition: all 0.2s linear;
    top: -1rem;
    visibility: none;
    width: 8rem;
}

.flaticon-attr-child--banner {
    left: 0;
}

.flaticon-attr-child--header {
    left: -11rem;
    top: -1rem;
    width: 10rem;
    z-index: 2;
}