/* Flaticon Section Styles */

.flaticon__page {
    background-color: $navyBlue;
}

.flaticon__page a {
    text-decoration: none;
}

.flaticon__wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.5rem;

    @mixin atML {
        width: 40rem; 
    }
}

.flaticon__section {
    display: flex;
    margin: 1rem 0;
    width: 100%;
    flex-direction: column;
    align-items: center;

    @mixin atML {
        flex-direction: row;
    }
}

.flaticon__section__img {
    width: 7rem;
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: center;

    @mixin atML {
        width: 20%;
    }
}

.flaticon__section__img--darker {
    background-color: rgb(80, 80, 80);
}

.flaticon__section__img img {
    max-width: 80%;
    padding: 0.6rem;
}

.flaticon__section p {
    padding-left: 2rem;
}