/* General Footer Styles */

.footer-info {
    background-color: $navyBlue;
    color: #fff;
    height: 85rem;

    @mixin atXSmall {
        height: 79rem;
    }

    @mixin atSmall {
        height: 33.75rem;
    }

    @mixin atML {
        height: 30.625rem;
    }
}

/* Content Wrap */

.footer-info__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @mixin atSmall {
        flex-direction: row;
    }

    @mixin atLarger {
        width: 66rem;
    }
}

/* Section Styles */

.footer-info__section {
    padding: 1.5rem;

    @mixin atSmall {
        width: 33%;
    }
}

.footer-info__section__logo {
    width: 9rem;
}

.footer-info__section__border {
    background-color: $mainRed;
    height: 2px;
    margin-bottom: 2.5rem;
    width: 2.5rem;
}

/* Section Text Styles */

.footer-info__section h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.footer-info__section p {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.footer-info__section ul {
    font-weight: 300;
    line-height: 1.9;
    margin-left: -1rem;
    list-style-image: url("../../assets/images/tick-inside-circle-white.png");
}

/* Item Styles */

.footer-info__section__item {
    display: flex;
    margin-bottom: 1rem;
}

.footer-info__section__item h4 {
    font-weight: 300;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.footer-info__section__item h5 {
    font-size: 0.7rem;
    font-weight: 300;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-info__section__item__img {
    height: 5rem;
    margin-right: 1.5rem;
    overflow: hidden;
    width: 5rem;
}

.footer-info__section__item__img img {
    width: 7rem;
}

/* Item Text Styles */

.footer-info__section__item__text {
    @mixin atSmall {
        width: 8rem;
    }

    @mixin atML {
        width: 12rem;
    }
}

.footer-info__section__item__text__date {
    color: $mainRed;
    font-size: 1.5rem;
    font-weight: 400;
}

