/* General Footer Styles */

.footer {
    height: 9.875rem;
    padding: 2.5rem;
    text-align: center;
}

/* Footer Icon */

.footer__icon {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: inline;
    /* height: 8rem; */
    margin: 0.8rem;
    padding: 1rem;
    /* width: 8rem; */
}

.footer__icon img {
    width: 1.3rem;
}

/* Other Footer */

.footer p {
    color: $navyBlue;
}

.footer__copyright {
    margin-top: 3rem;
}

.footer__heart {
    color: $mainRed;
}

.footer__link a {
    text-decoration: none;
}