/* General Footer Styles */

.footer {
    height: 9.875rem;
    padding: 2.5rem;
    text-align: center;
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 15rem;

    @mixin atSmall {
        flex-wrap: nowrap;
        width: 27rem;
    }
}

.footer__section {
    margin-bottom: 2.5rem;
    width: 33%;

    @mixin atXSmall {
        margin-bottom: 0;
        width: 25%;
    }
}

/* Footer Icon */

.footer__icon {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: inline;
    padding: 1rem;
}

.footer__icon img {
    width: 1.3rem;
}

/* Other Footer */

.footer p {
    color: $navyBlue;
}

.footer__copyright {
    margin-top: 3rem;
}

.footer__heart {
    color: $mainRed;
}

.footer__link a {
    text-decoration: none;
}