.footer {
    text-align: center;
    margin-bottom: 3rem;

    &__icon {
        height: 8rem;
        width: 8rem;
        padding: 1.1rem;
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        display: inline;
        margin: 0.8rem;

        & img {
            width: 1.3rem;
        }
    } 

    & p {
        margin-top: 3rem;
        color: $navyBlue;
    }
}