/* Gallery Slider */

.gallery__slider {
    display: flex;
    margin-bottom: 0;
    width: 100%;
}

/* Slider Image Styles */

.gallery__slider__img {
    overflow: hidden;
    position: relative;
    width: 25%;

    @mixin atSmall {
        width: 33.33%;
    }
}

.gallery__slider__img img {
    width: 100%;
}

.gallery__slider__img--xsmall {
    width: 100%;

    @mixin atSmall {
        width: 33.33%;
    }
}

.gallery__slider__img--small {
    display: none;

    @mixin atSmall {
        display: block;
    }
}

.gallery__slider__img--large {
    display: none;

    @mixin atLarge {
        display: block;
    }
}

.gallery__slider__img--xlarge {
    display: none;

    @mixin atXLarge {
        display: block;
    }
}

/* Image Overlay Styles */

.gallery__slider__img__overlay {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    height: 98.5%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: all 0.2s linear;
    width: 100%;
    z-index: 2; 
}

.gallery__slider__img__overlay:hover {
    opacity: 1;
}

/* Image Overlay Button Styles */

.gallery__slider__img__overlay__btn {
    height: 1.3rem;
    margin-left: 1.8rem;
    margin-top: 1.2rem;
    position: relative;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s linear;
    width: 1.3rem;
}

.gallery__slider__img__overlay__btn:before {
    background-color: #fff;
    content: "";
    height: 100%;
    left: 45%;
    position: absolute;
    top: 0;
    width: 10%;
}

.gallery__slider__img__overlay__btn:after {
    background-color: #fff;
    content: "";
    height: 10%;
    left: 0;
    position: absolute;
    top: 45%;
    width: 100%;
}

.gallery__slider__img__overlay button {
    background-color: $mainRed;
    border: 1px solid $mainRed;
    border-radius: 50%;
    height: 4.5rem;
    transition: all 0.2s linear;
    width: 4.5rem;
}

.gallery__slider__img__overlay button:hover {
    background-color: #fff;
    border: 1px solid #fff;
}

.gallery__slider__img__overlay button:hover > .gallery__slider__img__overlay__btn:before {
    background-color: $mainRed;
}

.gallery__slider__img__overlay button:hover > .gallery__slider__img__overlay__btn:after {
    background-color: $mainRed;
}

/* Gallery Banner */

.gallery__banner {
    margin-top: -0.5rem;
}