.header {
    background-color: $navyBlue;
    color: #fff;
    height: 6.25rem;
    padding: 1.7rem 6.5rem;
    overflow: hidden;
    display: none;

    @mixin atSmall {
        display: block;
    }

    &__content {
        width: 66rem;
        margin: 0 auto;

        & > img {
            width: 10rem;
            margin-top: 0.4rem;
        }
    }
    &__title {
        font-size: 0.9rem;
        font-weight: 300;
        color: $mainRed;

        &__info {
            margin-left: 0.3rem;
            font-size: 0.85rem;
            font-weight: 300;
        }
    }

    &__info {
        font-size: 0.85rem;
        font-weight: 300;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }

    &--right {

        &__section {
            float: right;
            margin-left: 2.3rem;

            & img {
                width: 3rem;
                margin-right: 1rem;
            }

            &__text {
                padding-left: 1.5rem;
                margin-top: 0.3rem;
                border-left: 1px solid rgba(255, 255, 255, 0.15);
                float: right;
            }
        }
    }
}