/* General Header Styles */

.header {
    background-color: $navyBlue;
    color: #fff;
    display: none;
    height: 6.25rem;
    overflow: hidden;
    padding: 1.7rem 1.7rem;

    @mixin atSmall {
        display: block;
    }
}

/* Content Wrap */

.header__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @mixin atLarger {
        width: 66rem;
    }
}

/* Logo Styles */

.header__logo > img {
    margin-top: 0.4rem;
    width: 10rem;
}

/* Title Styles */

.header__title {
    color: $mainRed;
    font-size: 0.85rem;
    font-weight: 300;

    @mixin atML {
        font-size: 0.9rem;
    }
}

.header__title__info {
    font-size: 0.8rem;
    font-weight: 300;
    margin-left: 0.3rem;

    @mixin atML {
        font-size: 0.85rem;
    }
}

/* Info Styles */

.header__info {
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;

    @mixin atML {
        font-size: 0.85rem;
    }
}

/* Right Section Styles */

.header--right__section {
    float: right;
    margin-left: 2.3rem;
}

.header--right__section img {
    margin-right: 0.5rem;
    width: 2.5rem;

    @mixin atML {
        margin-right: 1rem;
        width: 3rem;
    }
}

/* Text Styles */

.header--right__section__text {
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    float: right;
    margin-top: 0.3rem;
    padding-left: 1rem;

    @mixin atML {
        padding-left: 1.5rem;
    }
}