.large-hero {
    position: relative;
    overflow: hidden;

    &__hero {
        height: 25.625rem;
        position: relative;
        z-index: 0;

        @mixin atSmall {
            height: auto;
            max-height: 37.5rem;
        }

        & img {
            height: 100%;
            transition: all 5s linear;

            @mixin atSmall {
                width: 100%;
                height: auto;
            }
        }

        @mixin atLarger {
            overflow: hidden;
        }
    }

    &__text {
        width: 35rem;
        margin: 0 auto;
        padding-left: 1rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(20%);
        color: #fff;
        text-transform: uppercase;

        @mixin atXSmall {
            padding-left: 2rem;
        }

        @mixin atLarge {
            width: 69rem;
        }
    }

    &__title-small {
        font-weight: 100;
        font-size: 1.2rem;

        @mixin atXSmall {
            font-size: 1.5rem;
        }

        @mixin atSmall {
            font-size: 1.7rem;
        }

        @mixin atLarge {
            font-size: 2rem;
        }

        @mixin atLarger {
            font-size: 2.2rem;
        }
    }

    &__title-large {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: 1.5px;
        line-height: 1.5;

        @mixin atXSmall {
            font-size: 1.8rem;
        }

        @mixin atSmall {
            font-size: 2rem;
        }

        @mixin atLarge {
            font-size: 2.3rem;
        }

        @mixin atLarger {
            font-size: 2.5rem;
        }
    }

    &__btn {
        background-color: $mainRed;
        border: 2px solid transparent;
        border-radius: 3rem;
        padding: 0.8rem 1.5rem;
        color: #fff;
        font-weight: 300;
        font-size: 0.9rem;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        transition: all 0.2s linear;
        display: none;

        &:hover {
            background-color: transparent;
            border: 2px solid #fff;
            cursor: pointer;
        }

        @mixin atSmall {
            display: block;
        }
    }
}

.image-zoom--active {
    transform: scale(1.1);
}