/* Main Navigation Styles */

.main-nav {
    background-color: #fff;
    height: 5.25rem;
    /* z-index: 10; */

    @mixin atSmall {
        z-index: 1000;
    }
}

/* Sticky Menu Styles */

.main-nav--sticky {
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    display: none;
    height: 3.9rem;
    position: fixed;
    top: 0;
    width: 100%; 
}

.main-nav--sticky .main-nav__logo {
    display: inline-block;
    padding: 1rem;
}

.main-nav--sticky .main-nav__logo img {
    width: 7.5rem;
}

.main-nav--sticky .main-nav__other {
    display: none;
}

.main-nav--sticky .main-nav__nav {
    float: right;
    margin-top: -0.5rem;
}

.main-nav--sticky .main-nav__sub-menu {
    top: 3.5rem;
}

/* Logo Styles */

.main-nav__logo {
    padding: 1.6rem;

    @mixin atSmall {
        display: none;
    }
}

.main-nav__logo img {
    width: 8rem;
}

/* Content of Main Nav */

.main-nav__content {
    margin: 0 auto;
    padding: 0 0.5rem;

    @mixin atLarger {
        width: 66rem;
    }
}

/* Navigation Elements of Nav */

.main-nav__nav {
    float: left;
}

/* Dropdown Arrows */

.main-nav__arrow {
    float: right;
    margin-left: 0.4rem;
    margin-right: 2rem;
    width: 0.6rem;

    @mixin atSmall {
        float: none;
        margin-right: 0;
    }
}

.main-nav__arrow--right {
    float: right;
    margin-top: 0.2rem;
}

/* Main Menu Styles */

.main-nav__main-menu {
    display: none;

    @mixin atSmall {
        display: block;
    }
}

/* First Level Menu Items */

.main-nav__main-menu:first-child {
    padding-left: 0;
}

.main-nav__main-menu__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    font-size: 0.9rem;
    padding: 1rem 1rem 0.8rem 1rem;
    position: relative;

    @mixin atSmall {
        border-bottom: none;
        padding: 1rem 1rem 2.2rem 1rem;
    }
}

.main-nav__main-menu__item a {
    color: $navyBlue;
    font-weight: 700;
    text-decoration: none;
}

.main-nav__main-menu__item:hover > .main-nav__sub-menu {
    @mixin atSmall {
        display: block;
    }
}

/* Submenu Styles */

.main-nav__sub-menu {
    background-color: $mainRed;
    border: 1px solid $mainRed;
    border-radius: 10px;
    color: #fff;
    display: none;
    margin-top: 0.6rem;
    padding: 0.8rem;
    position: absolute;
    top: 4.25rem;
    width: 14rem;
    z-index: 3;  
}

.main-nav__sub-menu:before {
    border: 0.7rem solid transparent;
    border-bottom-color: $mainRed;
    border-top: 0;
    content: "";
    height: 0;
    left: 15%;
    margin-left: -0.7rem;
    margin-top: -0.7rem;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 4;
}

.main-nav__sub-menu:after {
    background-color: transparent;
    content: "";
    height: 1rem;
    left: 0;
    position: absolute;
    top: -0.65rem;
    width: 13rem;
}

.main-nav__sub-menu__item {
    font-size: 0.95rem;
    font-weight: 300;
    padding: 0.8rem;
    transition: all 0.2s linear;
}

.main-nav__sub-menu__item a {
    color: #fff;
    font-weight: 300;
}

.main-nav__sub-menu__item:hover {
    cursor: pointer;
    transform: translateX(0.4rem);
}

/* Second-Level Submenu Styles */

.main-nav__sub-menu__item:hover > .main-nav__sub-sub-menu {

    @mixin atSmall {
        display: block;
    }
}

.main-nav__sub-sub-menu {
    background-color: $mainRed;
    border: 1px solid $mainRed;
    border-radius: 10px;
    color: #fff;
    display: none;
    left: 12.5rem;
    margin-left: 1rem;
    padding: 0.8rem;
    position: absolute;
    top: -0.8rem;
    width: 14rem;
    z-index: 3; 
}

.main-nav__sub-sub-menu:before {
    background-color: transparent;
    content: "";
    height: 5rem;
    left: -1.2rem;
    position: absolute;
    top: 0;
    width: 1.9rem;
}

.main-nav__sub-sub-menu:after {
    border: 0.7rem solid transparent;
    border-left: 0;
    border-right-color: $mainRed;
    content: '';
    height: 0;
    left: 0;
    margin-left: -0.7rem;
    margin-top: -0.7rem;
    position: absolute;
    top: 30%;
    width: 0;
}

.main-nav__sub-sub-menu__item {
    font-size: 0.95rem;
    font-weight: 300;
    padding: 0.8rem;
    transition: all 0.2s linear;
}

.main-nav__sub-sub-menu__item a {
    color: #fff;
    font-weight: 300;
}

.main-nav__sub-sub-menu__item:hover {
    cursor: pointer;
    transform: translateX(0.4rem);
}

/* Search and Cart Icons */

.main-nav__other {
    float: right;
    margin-top: -3rem;

    @mixin atSmall {
        margin-top: 2rem;
    }
}

.main-nav__other__img {
    border-left: 0.5px solid rgba(0, 0, 0, 0.2);
    display: inline;
    padding: 0.2rem 0.6rem;

    @mixin atSmall {
        padding: 0.2rem 1rem;
    }
}

.main-nav__other__img--shopping {
    position: relative;
}

.main-nav__other__img img {
    transition: all 0.2s linear;
    width: 20px;
}

.main-nav__other__img img:hover {
    cursor: pointer;
    filter:
        invert(100%)
        brightness(50%)
        sepia(1)
        hue-rotate(-40deg)
        saturate(1626%)
        brightness(99.4%)
}

.main-nav__other__cart-num {
    background-color: $mainRed;
    border: 1px solid $mainRed;
    border-radius: 50%;
    height: 1rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 1rem; 
}

/* Menu Icon */

.main-nav__other__menu-icon {
    border-left: none;
    cursor: pointer;
    height: 19px;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    width: 1.7rem; 

    @mixin atSmall {
        display: none;
    }
}

.main-nav__other__menu-icon:before {
    background-color: $mainRed;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: 0 0;
    transition: transform .3s ease-out;
    width: 1.7rem; 
}

.main-nav__other__menu-icon__middle {
    background-color: $mainRed;
    height: 3px;
    left: 0;
    position: absolute;
    top: 8px;
    transition: all .3s ease-out;
    width: 1.7rem;
}

.main-nav__other__menu-icon:after {
    background-color: $mainRed;
    bottom: 6px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    transform-origin: 0 100%;
    transition: transform .3s ease-out;
    width: 1.7rem;
}

.main-nav__other__menu-icon--close-x:before {
    transform: rotate(45deg) scaleX(1);
    width: 1.9rem;
}

.main-nav__other__menu-icon--close-x > .main-nav__other__menu-icon__middle {
    opacity: 0;
    transform: scaleX(0);
}

.main-nav__other__menu-icon--close-x:after {
    transform: rotate(-45deg) scaleX(1) translateX(-1px) translateY(2px);
    width: 1.8rem;
}

/* Mobile Menu Styles */

.main-nav__nav--mobile > .main-nav__main-menu {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 100vw;
}
