.main-nav {
    height: 5.25rem;

    &__logo {
        padding: 1.6rem;

        @mixin atSmall {
            display: none;
        }

        & img {
            width: 8rem;
        }
    }

    &__content {
        margin: 0 auto;
        padding: 0 0.5rem;

        @mixin atSmall {
            
        }
        
        @mixin atLarger {
            width: 66rem;
        }
    }

    & nav {
        float: left;
    }

    &__arrow {
        width: 0.6rem;
        margin-left: 0.4rem;
    }

    &__main-menu {
        display: none;

        @mixin atSmall {
            display: block;
        }

        &:first-child {
            padding-left: 0;
        }

        &__item {
            float: left;
            position: relative;
            font-size: 0.9rem;
            padding: 1rem 1rem 2.25rem 1rem;

            & a {
                color: $navyBlue;
                text-decoration: none;
                font-weight: 700;
            }
        }

        &__item:hover > .main-nav__sub-menu {
            display: block;
        }
    }

    &__sub-menu {
        display: none;
        position: absolute;
        top: 4.25rem;
        background-color: $mainRed;
        color: #fff;
        z-index: 3;
        padding: 0.8rem;
        width: 14rem;
        border: 1px solid $mainRed;
        border-radius: 10px;
        margin-top: 0.6rem;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 15%;
            width: 0;
            height: 0;
            border: 0.7rem solid transparent;
            border-bottom-color: $mainRed;
            border-top: 0;
            margin-left: -0.7rem;
            margin-top: -0.7rem;
        }

        &__item {
            padding: 0.8rem;
            font-size: 0.95rem;
            font-weight: 300;
            transition: all 0.2s linear;

            &:hover {
                cursor: pointer;
                transform: translateX(0.4rem);
            }
        }
    }

    &__other {
        float: right;
        margin-top: -3rem;

        @mixin atSmall {
            margin-top: 2rem;
        }

        &__img {
            display: inline;
            padding: 0.2rem 1rem;
            border-left: 0.5px solid rgba(0, 0, 0, 0.2);

            &--shopping {
                position: relative;
            }

            & img {
                width: 20px;
                transition: all 0.2s linear;

                &:hover {
                    cursor: pointer;
                    filter:
                        invert(100%)
                        brightness(50%)
                        sepia(1)
                        hue-rotate(-40deg)
                        saturate(1626%)
                        brightness(99.4%)
                }
            }
        }

        &__cart-num {
            width: 1rem;
            height: 1rem;
            background-color: $mainRed;
            border: 1px solid $mainRed;
            border-radius: 50%;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
        }
    }
}