.services {
    padding: 0 1rem;
    margin-bottom: 4rem;
    color: $darkGray;
    
    &__content {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 2rem;

        @mixin atSmall {
            flex-direction: row;
        }

        @mixin atLarger {
            width: 66rem;
        }
    }

    &__overview {
        width: 28rem;
        margin: 0 auto;

        @mixin atSmall {
            width: 33%;
            margin: auto;
            padding-left: 1rem;
        }

        & h3 {
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1.3px;
            font-size: 1.5rem;
            margin-bottom: 0.7rem;
            text-align: center;

            @mixin atSmall {
                text-align: left;
            }
        }

        & h4 {
            text-transform: uppercase;
            font-weight: 100;
            font-size: 1.2rem;
            margin-top: 0;
            text-align: center;

            @mixin atSmall {
                text-align: left;
            }
        }

        & p {
            font-weight: 300;
            line-height: 1.5;
        }

        & button {
            padding: 0.7rem 1.3rem;
            border-radius: 3rem;
            text-transform: uppercase;
            color: $mainRed;
            border: 2px solid $mainRed;
            font-weight: 300;
            font-size: 0.9rem;
            display: block;
            margin: 0 auto 2rem auto;

            @mixin atSmall {
                margin: 0;
            }
        }

        & ul {
            list-style-image: url("../../assets/images/tick-inside-circle-red.png");
            margin: 2rem 0;
            margin-left: -1rem;
        }

        & li {
            font-weight: 300;
            line-height: 2;
        }
    }

    &__options {
        width: 100%;
        display: flex;
        flex-direction: column;

        @mixin atSmall {
            flex-wrap: wrap;
            flex-direction: row;
            width: 66%;
            margin-left: 1.5rem;
        }

        &__option {
            width: 28rem;
            margin: 0 auto;
            padding: 1rem;
            line-height: 1.5;
            font-weight: 300;
            text-align: center;

            @mixin atSmall {
                width: 33%;
                text-align: left;
            }

            &__img {
                width: 7rem;
                height: 7rem;
                border: 2px solid rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                text-align: center;
                padding: 1.5rem 0;
                margin: 0 auto;

                @mixin atSmall {
                    margin: 0;
                }

                & img {
                    width: 3.5rem;
                }
            }

            & h4 {
                text-transform: uppercase;
                font-weight: 400;
                font-size: 1.1rem;
                letter-spacing: 1.1px;
                margin-bottom: 0;
            }

            & p {
                margin-top: 0.5rem;
            }
        }
    }
}