.upgrades {
    
    &__plans {
        display: flex;
        flex-direction: column;
        margin: 2rem auto 0 auto;

        @mixin atSmall {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @mixin atLarger {
            width: 66rem;
        }

        &__plan {
            width: 20rem;
            display: flex;
            margin: 0 auto;
            margin-bottom: 3.5rem;

            @mixin atXSmall {
                width: 28rem;
            }

            @mixin atSmall {
                width: 33%;
            }

            &__price {
                margin-right: 1.5rem;
                margin-left: 1.5rem;
                padding-top: 1rem;

                @mixin atSmall {
                    padding-top: 2rem;
                }
                
                &__container {
                    width: 7rem;
                    height: 7rem;
                    background-color: $mainRed;
                    border: 1px solid $mainRed;
                    border-radius: 50%;
                    color: #fff;
                    text-align: center;
                    position: relative;

                    &__num {
                        font-size: 1.5rem;
                        font-weight: 300;
                        font-family: "Montserrat", sans-serif;
                        position: absolute;
                        top: 2rem;
                        left: 1.5rem;
                    }

                    &__cents {
                        font-size: 0.8rem;
                        font-weight: 300;
                        position: absolute;
                        top: 1.3rem;
                        left: 4.3rem;
                    }

                    &__frequency {
                        position: absolute;
                        width: 7rem;
                        top: 3rem;
                        left: 0;
                        text-transform: uppercase;
                        font-weight: 300;
                        font-size: 0.8rem;
                        letter-spacing: 1.3px;
                    }
                }

                &__container--blue {
                    background-color: $navyBlue;
                    border: 1px solid $navyBlue;
                }
            }

            &__text {
                font-weight: 300;
                line-height: 1.5;

                @mixin atSmall {
                    max-width: 12rem;
                }

                & h3 {
                    font-weight: 400;
                    font-size: 1.3rem;
                    margin-bottom: 0;
                }

                & p {
                    margin-top: 0.5rem;
                }
            }
        }
    }
}