/* Upgrades Plans Wrapper Styles */

.upgrades__plans {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 0 auto;

    @mixin atSmall {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @mixin atLarger {
        width: 66rem;
    }
}

/* Upgrades Individual Plans Styles */

.upgrades__plans__plan {
    display: flex;
    margin: 0 auto;
    margin-bottom: 3.5rem;
    width: 20rem;

    @mixin atXSmall {
        width: 28rem;
    }

    @mixin atSmall {
        width: 33%;
    }
}

.upgrades__plans__plan__price {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 1rem;

    @mixin atSmall {
        padding-top: 2rem;
    }
}

.upgrades__plans__plan__price__container {
    background-color: $mainRed;
    border: 1px solid $mainRed;
    border-radius: 50%;
    color: #fff;
    height: 7rem;
    position: relative;
    text-align: center;
    width: 7rem;
}

.upgrades__plans__plan__price__container__num {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    left: 1.5rem;
    position: absolute;
    top: 2rem;
}

.upgrades__plans__plan__price__container__cents {
    font-size: 0.8rem;
    font-weight: 300;
    left: 4.3rem;
    position: absolute;
    top: 1.3rem;
}

.upgrades__plans__plan__price__container__frequency {
    font-size: 0.8rem;
    font-weight: 300;
    left: 0;
    letter-spacing: 1.3px;
    position: absolute;
    text-transform: uppercase;
    top: 3rem;
    width: 7rem;
}

.upgrades__plans__plan__price__container--blue {
    background-color: $navyBlue;
    border: 1px solid $navyBlue;
}

.upgrades__plans__plan__text {
    font-weight: 300;
    line-height: 1.5;

    @mixin atSmall {
        max-width: 12rem;
    }
}

.upgrades__plans__plan__text h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0;
}

.upgrades__plans__plan__text p {
    margin-top: 0.5rem;
}